<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <welcome-file-list>
        <welcome-file>auth</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.gruppo12.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Validate</servlet-name>
        <servlet-class>com.gruppo12.Validate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.gruppo12.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>auth</servlet-name>
        <jsp-file>/auth.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <jsp-file>/register.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.gruppo12.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>com.gruppo12.home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>superadmin_panel</servlet-name>
        <servlet-class>com.gruppo12.superadmin_panel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setting</servlet-name>
        <servlet-class>com.gruppo12.setting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>main_space</servlet-name>
        <jsp-file>/main_space.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>redirect_playlist</servlet-name>
        <servlet-class>com.gruppo12.redirect_playlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>playlist_space</servlet-name>
        <jsp-file>/playlist_space.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>redirect_toplayer_to_add_playlist</servlet-name>
        <servlet-class>com.gruppo12.redirect_toplayer_to_add_playlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>album_space</servlet-name>
        <jsp-file>/album_space.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>redirect_album</servlet-name>
        <servlet-class>com.gruppo12.redirect_album</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>song_admin_space</servlet-name>
        <jsp-file>/song_admin_space.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>adding_album</servlet-name>
        <servlet-class>com.gruppo12.adding_album</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_album</servlet-name>
        <jsp-file>/add_album.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>add_song</servlet-name>
        <jsp-file>/add_song.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>adding_song</servlet-name>
        <servlet-class>com.gruppo12.adding_song</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adding_playlist</servlet-name>
        <servlet-class>com.gruppo12.adding_playlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_playlist</servlet-name>
        <jsp-file>/add_playlist.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>search_bar</servlet-name>
        <jsp-file>/search_bar.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>search_servlet</servlet-name>
        <servlet-class>com.gruppo12.search_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_to_pl</servlet-name>
        <servlet-class>com.gruppo12.add_to_pl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_user</servlet-name>
        <jsp-file>/delete_user.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>remove_user</servlet-name>
        <servlet-class>com.gruppo12.remove_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_panel</servlet-name>
        <jsp-file>/admin_panel.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>make_vip</servlet-name>
        <jsp-file>/make_vip.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>vip</servlet-name>
        <servlet-class>com.gruppo12.vip</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>make_admin</servlet-name>
        <jsp-file>/make_admin.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>admin</servlet-name>
        <servlet-class>com.gruppo12.admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_album</servlet-name>
        <jsp-file>/delete_album.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>remove_album</servlet-name>
        <servlet-class>com.gruppo12.remove_album</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_song</servlet-name>
        <jsp-file>/delete_song.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>remove_song</servlet-name>
        <servlet-class>com.gruppo12.remove_song</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pl_remove_song</servlet-name>
        <jsp-file>/pl_remove_song.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>rmsong</servlet-name>
        <servlet-class>com.gruppo12.rmsong</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vip_request</servlet-name>
        <jsp-file>/vip_request.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>vip_req</servlet-name>
        <servlet-class>com.gruppo12.vip_req</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>approve_score</servlet-name>
        <jsp-file>/approve_score.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>approve_midi</servlet-name>
        <jsp-file>/approve_midi.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>midi_search_bar</servlet-name>
        <jsp-file>/midi_search_bar.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>scores_search_bar</servlet-name>
        <jsp-file>/scores_search_bar.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>add_midi</servlet-name>
        <servlet-class>com.gruppo12.add_midi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>midi_search_servlet</servlet-name>
        <servlet-class>com.gruppo12.midi_search_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>midi_scores_view</servlet-name>
        <jsp-file>/midi_scores_view.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>add_score</servlet-name>
        <servlet-class>com.gruppo12.add_score</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>scores_search_servlet</servlet-name>
        <servlet-class>com.gruppo12.scores_search_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>midi_approved_search</servlet-name>
        <servlet-class>com.gruppo12.midi_approved_search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>approved_midi_search</servlet-name>
        <jsp-file>/approved_midi_search.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>approved_score_search</servlet-name>
        <jsp-file>/approved_score_search.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>scores_approved_search</servlet-name>
        <servlet-class>com.gruppo12.scores_approved_search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>midi_add</servlet-name>
        <jsp-file>/midi_add.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>adding_midi</servlet-name>
        <servlet-class>com.gruppo12.adding_midi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>score_add</servlet-name>
        <jsp-file>/score_add.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>adding_score</servlet-name>
        <servlet-class>com.gruppo12.adding_score</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>midi_servlet</servlet-name>
        <servlet-class>com.gruppo12.midi_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>scores_servlet</servlet-name>
        <servlet-class>com.gruppo12.scores_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>player</servlet-name>
        <jsp-file>/player.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>auth</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>superadmin_panel</servlet-name>
        <url-pattern>/superadmin_panel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setting</servlet-name>
        <url-pattern>/setting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>main_space</servlet-name>
        <url-pattern>/main_space</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>redirect_playlist</servlet-name>
        <url-pattern>/redirect_playlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>playlist_space</servlet-name>
        <url-pattern>/playlist_space</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>redirect_toplayer_to_add_playlist</servlet-name>
        <url-pattern>/redirect_toplayer_to_add_playlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>album_space</servlet-name>
        <url-pattern>/album_space</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>redirect_album</servlet-name>
        <url-pattern>/redirect_album</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>song_admin_space</servlet-name>
        <url-pattern>/song_admin_space</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adding_album</servlet-name>
        <url-pattern>/adding_album</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_album</servlet-name>
        <url-pattern>/add_album</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_song</servlet-name>
        <url-pattern>/add_song</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adding_song</servlet-name>
        <url-pattern>/adding_song</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adding_playlist</servlet-name>
        <url-pattern>/adding_playlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_playlist</servlet-name>
        <url-pattern>/add_playlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search_bar</servlet-name>
        <url-pattern>/search_bar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search_servlet</servlet-name>
        <url-pattern>/search_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_to_pl</servlet-name>
        <url-pattern>/add_to_pl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_user</servlet-name>
        <url-pattern>/delete_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>remove_user</servlet-name>
        <url-pattern>/remove_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_panel</servlet-name>
        <url-pattern>/admin_panel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>make_vip</servlet-name>
        <url-pattern>/make_vip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vip</servlet-name>
        <url-pattern>/vip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>make_admin</servlet-name>
        <url-pattern>/make_admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_album</servlet-name>
        <url-pattern>/delete_album</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>remove_album</servlet-name>
        <url-pattern>/remove_album</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_song</servlet-name>
        <url-pattern>/delete_song</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>remove_song</servlet-name>
        <url-pattern>/remove_song</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pl_remove_song</servlet-name>
        <url-pattern>/pl_remove_song</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rmsong</servlet-name>
        <url-pattern>/rmsong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vip_request</servlet-name>
        <url-pattern>/vip_request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vip_req</servlet-name>
        <url-pattern>/vip_req</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>approve_score</servlet-name>
        <url-pattern>/approve_score</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>approve_midi</servlet-name>
        <url-pattern>/approve_midi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>midi_search_bar</servlet-name>
        <url-pattern>/midi_search_bar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>scores_search_bar</servlet-name>
        <url-pattern>/scores_search_bar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_midi</servlet-name>
        <url-pattern>/add_midi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>midi_search_servlet</servlet-name>
        <url-pattern>/midi_search_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>midi_scores_view</servlet-name>
        <url-pattern>/midi_scores_view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_score</servlet-name>
        <url-pattern>/add_score</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>scores_search_servlet</servlet-name>
        <url-pattern>/scores_search_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>midi_approved_search</servlet-name>
        <url-pattern>/midi_approved_search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>approved_midi_search</servlet-name>
        <url-pattern>/approved_midi_search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>approved_score_search</servlet-name>
        <url-pattern>/approved_score_search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>scores_approved_search</servlet-name>
        <url-pattern>/scores_approved_search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>midi_add</servlet-name>
        <url-pattern>/midi_add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adding_midi</servlet-name>
        <url-pattern>/adding_midi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>score_add</servlet-name>
        <url-pattern>/score_add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adding_score</servlet-name>
        <url-pattern>/adding_score</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>midi_servlet</servlet-name>
        <url-pattern>/midi_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>scores_servlet</servlet-name>
        <url-pattern>/scores_servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Jersey Web Application</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey Web Application</servlet-name>
        <url-pattern>/ws/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>player</servlet-name>
        <url-pattern>/player</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
